/* Main */

.section__title{
  font-size: 40px;
}

/* Welcome */

.welcome{
  height: calc(100vh - 56px);
  color: white;
}

.welcome__background{
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
}

.welcome__phrase{
  font-size: 44px;
}
.accent{
  font-size: 56px;
}


/* Services */


.card-img-top{
  height: 300px;
  object-fit: cover;
  object-position: 0 0;
}

.card-body{
  display: flex;
  flex-direction: column;
}

/* Team */
.team{
  padding: 3rem 0 calc(3rem + 30px);
}
.team .carousel-indicators{
  bottom: -50px;
}
.team .carousel-control-prev,
.team .carousel-control-next{
  width: 5%;
}
.team .carousel-control-prev{
  left: -5%;
}
.team .carousel-control-next{
  right: -5%;
}

/* Modal */

.modal-feedback{
  background: rgba(0, 0, 0, 0.3)
}
.close{
  width: 20px;
  right: 30px;
  top: 30px;
  cursor: pointer;
}